.App {
    cursor: url(./component/icon/leaf.png), default;
}

.btn {
    cursor: url(./component/icon/leaf.png), pointer;
}

@media (max-width: 780px) {

    .nav_stack img, .nav_stack button {
        display:none;
    }
    
}